.form-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.add-button {
  display: flex;
  justify-content: center;
}

.error-container {
  color: red;
}
