{% extends "layout.html" %}
{% block title %} New book {% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='newBook.css')}}">
{% endblock %}
{% block content %}
    <div class="flash">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
                {% for message in messages %}
                  <em><strong><li>{{message}}</li></strong></em>
                {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    <h2>Please enter the data regarding the new book:</h2>
    <div class="form-container">
      <form method="POST"
      action="{{url_for('newBook', bookshelf_id = bookshelf_id)}}"
      id = "newBook">
        <div class="form-elements">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title">
          <label for="imageURL">Image Url (optional):</label>
          <input type="text" id="imageURL" name="imageURL">
          <label for="author">Author (optional):</label>
          <input type="text" id="author" name="author">
          <label for="category">Category (optional):</label>
          <input type="text" id="category" name="category">
          <label for="description">Description (optional):</label>
          <textarea name = "description" rows="10" cols="50" form = "newBook"></textarea>
        </div>
        <div class="add-button">
          <input type="submit" value="Add">
        </div>
      </form>
      <div class="error-container">
        {{error}}
      </div>
    </div>
    <h2>... or use the Google Books service to search and add books!</h2>
    <div class="gform-container">
    <form>
  		<div class="form-elements">
  			<label for="gphrase">Phrase: </label>
        <input type="text" id="gphrase" value="">
  			<label for="gtitle">Title (optional): </label>
        <input type="text" id="gtitle" value="">
  			<label for="gauthor">Author (optional): </label>
        <input type="text" id="gauthor" value="">
  			<label for="gsubject">Subject (optional): </label>
        <input type="text" id="gsubject" value="">

  		<div class="button-container">
  			<button id="submit-btn">Submit</button>
  		</div>
  		</div>
  	</form>
    </div>
  	<div class="books-container">
  		<h2 id="gbooks-header">Relevant books from "Google Books" service</h2>
  		<h3>Type in data in the fields above to find relevant books here!</h3>
      <div id="gbooks-items">
      </div>
  	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
    function loadData(e) {
      e.preventDefault()
      //console.log("Welcome!");
      var $body = $("body");
      var $gbooksHeader = $("#gbooks-header");
      var $gbooks = $("#gbooks-items")

      $gbooksHeader.text("Relevant books from Google Books service");
      // clear the old data
      $gbooks.text("");

      // extract the data provided by the user

      var phrase = $("#gphrase").val();
      var title = $("#gtitle").val();
      var author = $("#gauthor").val();
      var subject = $("#gsubject").val();

      // check if the title field is filled in - not using gBooks
      var title = $("#title").val();


      // gbooks API endpoint
      var gbooksURL = "https://www.googleapis.com/books/v1/volumes?q=";

      if (!phrase && !title) {
        window.alert("Please fill in at least the searched phrase.");
        console.log("Please fill in at least the searched phrase.");
        return;
      } else {
        var gbooksURL = gbooksURL + phrase;
      }

      if (title) {
        var gbooksURL = gbooksURL + "+intitle:" + title;
      }

      if (author) {
        var gbooksURL = gbooksURL + "+inauthor:" + author;
      }

      if (subject) {
        var gbooksURL = gbooksURL + "+insubject:" + subject;
      }
      //} else if (author) {
      //	var gbooksURL = gbooksURL + "+inauthor:" + author;
      //} else if (subject) {
      //	var gbooksURL = gbooksURL + "+insubject:" + subject;
      //}

      var gbooksURL = gbooksURL + "&maxResults=20";

      //console.log(gbooksURL);
      $.getJSON(gbooksURL, function(data) {
        console.log(data["items"]);
        if (data["items"]) {

          var parameters = [];
          $.each(data["items"], function(index, value) {
            if (value["searchInfo"] && value["searchInfo"]["textSnippet"]) {
              var snippet = value["searchInfo"]["textSnippet"];
            } else {
              var snippet = "Snippet not available";
            }
            if (value["volumeInfo"] && value["volumeInfo"]["title"]) {
              var title = value["volumeInfo"]["title"];
            } else {
              var title = "Title not available"
            }
            if (value["volumeInfo"] && value["volumeInfo"]["authors"]) {
              var author = value["volumeInfo"]["authors"][0];
            } else {
              var author = "Author not available"
            }
            if (value["volumeInfo"] && value["volumeInfo"]["imageLinks"] && value["volumeInfo"]["imageLinks"]["thumbnail"]) {
              var imageURL = value["volumeInfo"]["imageLinks"]["thumbnail"];
            } else {
              var imageURL = "Image not available";
            }
            if (value["volumeInfo"] && value["volumeInfo"]["description"]) {
              var description = value["volumeInfo"]["description"];
            } else {
              var description = "Description not available";
            }

            if (value["volumeInfo"] && value["volumeInfo"]["categories"]) {
              var category = value["volumeInfo"]["categories"][0];
            } else {
              var category = "Category not available";
            }

            if (value["volumeInfo"]) {
              var publisher = value["volumeInfo"]["publisher"];
            } else {
              var publisher = "Publisher not available";
            }


            var itemHTML = "<div class='gbooks-item'><img src='" + imageURL + "'>" + "<p>" + title + "</p>" +
            "<p>" + imageURL + "</p>" +
            "<p>" + author + "</p>" + "<p>" + snippet + "</p>" + "<p>" +
            category + "</p>" + "<p>" + publisher + "</p>" +
            "<p>" + description + "</p>" +
            "<div id='addButton" + index + "'><button>Add book</button></div></div>"

            var postData = {
            "title": title,
            "author": author,
            "image": imageURL,
            "description": description,
            "category": category,
            "publisher": publisher,
            "bookshelf_id": {{bookshelf_id}}
            };



            parameters.push(postData)

            $gbooks.append(itemHTML);
          });

          var dataLen = parameters.length;
          alert(dataLen);
          for (i = 0; i < dataLen; i++) {

            var elName = "#addButton" + i
            //alert(elName);
            //console.log(typeof JSON.stringify(parameters[i]));
            //console.log(parameters[i]["author"]);
            //$(elName).on("click",{params: parameters, index: i}, function(event) {
            //	if (confirm("Are you sure to save this book in the database?")) {
            //		alert("Request sent to the database");
            //		alert(event.data.params[event.data.index]["title"]);
            //    alert(event.data.params[event.data.index])
            //		$.post("{{url_for('gbooksConnect')}}",
            //		JSON.stringify(event.data.params[event.data.index]));
            //	} else {
            //		alert("Book not saved");
            //	}
            //});

            // pass the parameters to the events as an object {params:parameters}
            $(elName).click({params:parameters[i]}, function(event) {
              if (confirm("Are you sure you want to save this book in the database?")) {
                alert("Request sent to the database");
                $.ajax({
                  type: "POST",
                  url: "{{url_for('gbooksConnect')}}",
                  async: false,
                  contentType: "application/json",
                  data: JSON.stringify(event.data.params),
                  dataType: "text",
                  success: function(result) {
                    if (result) {
                      alert("Book added to the database.");
                    }
                  }
                });
              } else {
                alert("Book not saved");
              }
            });
          }

        } else {
          $gbooksHeader.text("Books could not be loaded");
        };
      });

      //}).error(function(e) {
      //	$gbooksHeader.text("Books could not be loaded");
      //});
      //

    }

    $('.gform-container').submit(loadData);

    </script>

{% endblock %}
